/*!
    Formatação específica sobrescrevendo a formatação do arquivo css/app.css
    Necessário para modificar os padrões do layout
 */
body{
     background:#f5f5f5 !important;
}
.navbar-laravel{ background: #f7f7f7 !important; }
.nav-link{ color:#fff !important; width:75px; }
.company-brand{ width:50px; }
.main-box{
    background-image:url(/img/background/system.jpg);
    background-repeat: no-repeat;
    background-size: 55% 100%;
    min-height: 450px;
}
.card-header{
    background-image: linear-gradient(#a8a8a8, #454545);
    color: #ffffff;
    font-size: 1.2em;    
}
@media (max-width: 780px) {
    .main-box{
        background-size: 100%;
    }
}
@media (min-width: 781px) and (max-width: 1368px) {
    .main-box{
        background-size: 70%;
    }
}