<style>
    .float-right {
        float: right!important
    }
    
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem
    }

    .card>hr {
        margin-right: 0;
        margin-left: 0
    }

    .card>.list-group:first-child .list-group-item:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }

    .card>.list-group:last-child .list-group-item:last-child {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem
    }

    .card-title {
        margin-bottom: .75rem
    }

    .card-subtitle {
        margin-top: -.375rem
    }

    .card-subtitle,
    .card-text:last-child {
        margin-bottom: 0
    }

    .card-link:hover {
        text-decoration: none
    }

    .card-link+.card-link {
        margin-left: 1.25rem
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
        border-bottom: 1px solid rgba(0, 0, 0, .125)
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

    .card-header+.list-group .list-group-item:first-child {
        border-top: 0
    }

    .card-footer {
        padding: .75rem 1.25rem;
        background-color: rgba(0, 0, 0, .03);
        border-top: 1px solid rgba(0, 0, 0, .125)
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
    }

    .card-header-tabs {
        margin-bottom: -.75rem;
        border-bottom: 0
    }

    .card-header-pills,
    .card-header-tabs {
        margin-right: -.625rem;
        margin-left: -.625rem
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem
    }

    .card-img {
        width: 100%;
        border-radius: calc(.25rem - 1px)
    }

    .card-img-top {
        width: 100%;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px)
    }

    .card-img-bottom {
        width: 100%;
        border-bottom-right-radius: calc(.25rem - 1px);
        border-bottom-left-radius: calc(.25rem - 1px)
    }

    .card-deck {
        display: flex;
        flex-direction: column
    }

    .card-deck .card {
        margin-bottom: 15px
    }

    @media (min-width:576px) {
        .card-deck {
            flex-flow: row wrap;
            margin-right: -15px;
            margin-left: -15px
        }
        .card-deck .card {
            display: flex;
            flex: 1 0 0%;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px
        }
    }

    .card-group {
        display: flex;
        flex-direction: column
    }

    .card-group>.card {
        margin-bottom: 15px
    }

    @media (min-width:576px) {
        .card-group {
            flex-flow: row wrap
        }
        .card-group>.card {
            flex: 1 0 0%;
            margin-bottom: 0
        }
        .card-group>.card+.card {
            margin-left: 0;
            border-left: 0
        }
        .card-group>.card:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0
        }
        .card-group>.card:first-child .card-header,
        .card-group>.card:first-child .card-img-top {
            border-top-right-radius: 0
        }
        .card-group>.card:first-child .card-footer,
        .card-group>.card:first-child .card-img-bottom {
            border-bottom-right-radius: 0
        }
        .card-group>.card:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0
        }
        .card-group>.card:last-child .card-header,
        .card-group>.card:last-child .card-img-top {
            border-top-left-radius: 0
        }
        .card-group>.card:last-child .card-footer,
        .card-group>.card:last-child .card-img-bottom {
            border-bottom-left-radius: 0
        }
        .card-group>.card:only-child {
            border-radius: .25rem
        }
        .card-group>.card:only-child .card-header,
        .card-group>.card:only-child .card-img-top {
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem
        }
        .card-group>.card:only-child .card-footer,
        .card-group>.card:only-child .card-img-bottom {
            border-bottom-right-radius: .25rem;
            border-bottom-left-radius: .25rem
        }
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child),
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top {
            border-radius: 0
        }
    }

    .card-columns .card {
        margin-bottom: .75rem
    }

    @media (min-width:576px) {
        .card-columns {
            -webkit-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
            orphans: 1;
            widows: 1
        }
        .card-columns .card {
            display: inline-block;
            width: 100%
        }
    }

    .accordion .card:not(:first-of-type):not(:last-of-type) {
        border-bottom: 0;
        border-radius: 0
    }

    .accordion .card:not(:first-of-type) .card-header:first-child {
        border-radius: 0
    }

    .accordion .card:first-of-type {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .accordion .card:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem
    }

    @media (max-width:575.98px) {
        .table-responsive-sm {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }
        .table-responsive-sm>.table-bordered {
            border: 0
        }
    }

    @media (max-width:767.98px) {
        .table-responsive-md {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }
        .table-responsive-md>.table-bordered {
            border: 0
        }
    }

    @media (max-width:991.98px) {
        .table-responsive-lg {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }
        .table-responsive-lg>.table-bordered {
            border: 0
        }
    }

    @media (max-width:1199.98px) {
        .table-responsive-xl {
            display: block;
            width: 100%;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar
        }
        .table-responsive-xl>.table-bordered {
            border: 0
        }
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }

    .table-responsive>.table-bordered {
        border: 0
    }
    .group-buttons{
        width:200px;
        border:1px solid #000;
    }
</style>